.chip {
  display: flex;
  gap: 4px;
  align-items: center;

  border-radius: 50vh;
  padding: 4px 8px;
  border: 1px solid #999;
  cursor: pointer;
  background-color: #f0f0f0;
}

.chip.hasDelete {
  padding-right: 3px;

  .deleteButton {
    $size: 16px;
    width: $size;
    height: $size;
    font-size: 10px;
  }
}

.chip.active {
  background-color: #b5f0b7;
}

.editBox {
  padding: 0;
  background-color: inherit;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: 13px;
}
