.clickableContainer,
.editingBox {
  font-family: sans-serif;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 5px;
  margin: 4px;
}

.clickableContainer {
  display: inline-block;
  border: 1px solid #eee;

  &:hover {
    background-color: #eee;
  }
}

.editingBox {
  display: inline-block;
  border: 1px solid #eee;
}
