.list {
  margin-block: 0;
  display: flex;
  padding-inline: 0;
  padding-left: 0;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.person {
  &:not(:first-child) {
    border-left: 1px solid #dadada;
  }

  padding: 4px 8px;
}
